<div class="container  mx-auto mt-5">

  <h1 class="text-center display-6">Bem-vindo(a)</h1>
  <p class="text-center mt-5 display-5 fs-3">Pensou em ajuda financeira?</p>
<p class="text-center mt-3 display-5 fs-4"> A Yazzy esta aqui pra te ajudar :) </p>
<p class="text-center mt-5 display-5 fs-6">Desenvolvido por Vicenzzo Toth</p>
<a type="button" class="btn btn-dark" style="margin-left: 43%;" href="https://github.com/Vicenzzo" target="_blank">GitHub</a>
<a type="button" class="btn btn-primary ms-2" href="https://www.linkedin.com/in/vicenzzototh-dev/" target="_blank">Linkedin</a>
</div>
