<div class="container">
  <h1 class="display-6 mt-3">Clientes</h1>
<hr>
  <a routerLink="/clientes/cadastrar" class="btn btn-primary">Novo</a>
  <table class="table table-striped table-bordered mt-2">
    <thead>
      <tr>
        <th>CPF</th>
        <th>Nome</th>
        <th>Telefone</th>
        <th>CEP</th>
        <th>Rua</th>
        <th>N° da Residência</th>
        <th>Rendimento Mensal</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">
        <th scope="row">{{cliente.cpf}}</th>
        <td>{{cliente.nome}}</td>
        <td>{{cliente.telefone}}</td>
        <td>{{cliente.cep}}</td>
        <td>{{cliente.rua}}</td>
        <td>{{cliente.numeroDaResidencia}}</td>
        <td>{{cliente.rendimentoMensal | currency : 'BRL'}}</td>
        <td>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Ações do cliente
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/clientes/editar/{{cliente.cpf}}">Manutenção cadastral</a></li>
              <li><a class="dropdown-item" onsubmit="deletar()" routerLink="/clientes/deletar/{{cliente.cpf}}">Excluir cliente</a></li>
              <li><a class="dropdown-item" routerLink="/clientes/{{cliente.cpf}}/emprestimos/cadastrar">Cadastrar emprestimo</a></li>
              <li><a class="dropdown-item" routerLink="/clientes/{{cliente.cpf}}/emprestimos">Visualizar emprestimos</a></li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
