<h1 class="display-6 ms-4 mt-3">{{clienteCpf ? 'Editar' : 'Cadastrar'}}</h1>
<hr>
<div class="container-fluid">
  <form [formGroup]="clienteForm" (ngSubmit)="cadastrarOuEditar()">
    <div class="d-flex flex-wrap">
      <app-forms type="number" nomeLabel="CPF" idInput="cpf" [controle]="$any(clienteForm.get('cpf'))" [validar]="clienteCpf ? true : false"></app-forms>
      <app-forms nomeLabel="Nome" idInput="nome" [controle]="$any(clienteForm.get('nome'))" [validar]="clienteCpf ? true : false"></app-forms>
      <app-forms type="number" nomeLabel="Telefone" idInput="telefone"  [controle]="$any(clienteForm.get('telefone'))"></app-forms>
     <app-forms [controle]="$any(clienteForm.get('cep'))"></app-forms>
     <app-forms  nomeLabel="Rua" idInput="rua" [controle]="$any(clienteForm.get('rua'))"></app-forms>
     <app-forms  type="number" nomeLabel="Numero da residência" idInput="numeroDaResidencia" [controle]="$any(clienteForm.get('numeroDaResidencia'))"></app-forms>
     <app-forms  type="number" nomeLabel="Rendimento mensal" idInput="rendimentoMensal" [controle]="$any(clienteForm.get('rendimentoMensal'))"></app-forms>
    </div>
    <button type="submit" [disabled]="!clienteForm.valid" class="btn btn-dark">{{clienteCpf ? 'Editar' : 'Cadastrar'}}</button>
  </form>
</div>
