
<div class="container">
  <h1 class="display-6 mt-3">Cadastrar Emprestimo</h1>
<hr>
  <form [formGroup]="emprestimoForm" (ngSubmit)="cadastrar()">
    <div class="d-flex">
      <app-forms type="number" nomeLabel="Valor Inicial" idInput="valorInicial" [controle]="$any(emprestimoForm.get('valorInicial'))"></app-forms>
      <app-forms type="date" nomeLabel="Data Inicial" idInput="dataInicial" [controle]="$any(emprestimoForm.get('dataInicial'))"></app-forms>
      <app-forms type="date" nomeLabel="Data Final" idInput="dataFinal" [controle]="$any(emprestimoForm.get('dataFinal'))"></app-forms>
      <div class="col-2 ps-2" style="margin-top: 32px;">
        <div class="mb-3">
          <select class="form-select mb-3" (change)="changeRelacionamento($event)" formControlName="relacionamento">
            <option value="">Relacionamento</option>
            <option *ngFor="let relacionamento of Relacionamento" [ngValue]="relacionamento">
              {{ relacionamento }}
            </option>
        </select>
        </div>
      </div>
    </div>
    <button type="submit" [disabled]="!emprestimoForm.valid" class="btn btn-primary ms-2">Cadastrar</button>
    <a routerLink="/clientes" class="btn btn-dark ms-2">Voltar</a>
  </form>

</div>
